<div id="resume-heading">
    <h1>Harrison Hunter</h1>
    <h4>Computer Engineer</h4>
</div>

<div class="container-sm">
    <p class="lead">
    I am a computer engineer with a wide range of programming capabilities. I excel at diving into new technologies and developing new skills, although my expertise lies in Python and C. I have experience in everything from low-level GPU raytracing to web frontend development in Angular. My professional career has focused primarily on scientific simulation using high-performance computing, but has included Python data wrangling, graphics programming, and web dashboard development.
    </p>
</div>

<div id="experience" class="mt-3">
    <app-experience></app-experience>
</div>

<div id="education">
    <app-education></app-education>
</div>

<div id="publications">
    <app-publications></app-publications>
</div>

<router-outlet></router-outlet>
