/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/functions';

$nav-link-color:                    #AAA;
$nav-link-hover-color:              #888;

$primary: #d5e1df;
$secondary: #86af49;

@import '~bootstrap/scss/bootstrap';

.job-description {
    font-family: var(--bs-body-font-family);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
*/

